# ignore some ide temporary
.idea
# ignore windows file list
gitFileList.txt
# ignore use for backup file
# *.bak*
/vendor/
# ignore every sample file
*.sample
assets
images
welfare/testpay.php.bak2
testpay.unknownVersion.php 
testpay_changed.php 
pay_check.php.bak 
progressV1.php 
product.bak.php 
note.txt 
error_log 
admin/edit_img.bak.php
admin/home.php.bak
admin/admin_login.php 
TransactionLog 
17mai.com.testpay.php 
.cart.bak.php 
.test.php 
.product_detail.bak.php 
